<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>MindMate</title>
		{% load static %}
        
		<!-- Favicon -->
        <link rel="icon" href="{% static '/img/favicon.png' %}">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-PyK4CkjoXu6t8bpfF9pKmxxp2HvubKk1ygL5WbC9i0HwKvcwGxV1KWMfCUwBJ3eC" crossorigin="anonymous">

		<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<!-- icofont CSS -->
<link rel="stylesheet" href="{% static 'css/icofont.css' %}">
<!-- Slicknav -->
<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

<!-- Medipro CSS -->
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
       {% include 'nav1.html' %}
       <div class="py-5 bg-light team1">
        <div class="container">
          <div class="row justify-content-center mb-3">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Our Team</h3>
              </div>
          </div>
          <div class="row">
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters">
                    <div class="col-md-5 pro-pic" style="background:url('{% static 'img/t1.jpeg' %}') no-repeat center center / cover">
                        <div class="card-img-overlay">
                          <ul class="list-inline position-relative text-center">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/karthickthasans/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/KarthickthasanS" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                            <li class="list-inline-item"><a href=" https://x.com/KarthickthasanS?s=08" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                            
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 font-weight-medium">Karthickthasan S</h6>
                      <p style="text-align: justify;">Karthickthasan S is a Computer Science and Engineering student at KGISL Institute of Technology, with an expected graduation in May 2024. His expertise lies in Machine Learning and Deep Learning, as demonstrated in projects like a disease prediction web app, movie recommendation system, and exam seating arrangement system. He is proficient in Python, skilled in HTML/CSS, JavaScript, Django, Pandas, Numpy, Matplotlib, Seaborn, SQL, Git & Github.</p>
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters card-shadow">
                  <div class="col-md-5 pro-pic" style="background:url('{% static 'img/t2.jpeg' %}') no-repeat center center / cover">
                    <div class="card-img-overlay">
                      <ul class="list-inline position-relative text-center">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/karthickthasans/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/KarthickthasanS" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                            <li class="list-inline-item"><a href=" https://x.com/KarthickthasanS?s=08" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 font-weight-medium">Aakash R</h6>
                      <p style="text-align: justify;">Aakash is an enthusiastic computer science engineering student with a strong foundation in programming and data analysis. He actively explores the field of AI and ML, armed with certifications in Python and Django, and has hands-on experience in developing real-world projects. Aakash is eager to connect with like-minded individuals to collaborate and contribute to the exciting advancements in AI and ML, fostering innovation, growth, and community engagement.</p>
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
          </div>
          <div class="row">
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters card-shadow">
                  <div class="col-md-5 pro-pic" style="background:url('{% static 'img/t3.jpeg' %}') no-repeat center center / cover">
                    <div class="card-img-overlay">
                      <ul class="list-inline position-relative text-center">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/aarthy-r1553/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/Aarthy153/" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                            <li class="list-inline-item"><a href="https://x.com/AarthyR15" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 font-weight-medium">Aarthy R</h6>
                      <p style="text-align: justify;">Aarthy is a passionate engineering student with experience across various domains such as web development, Web 3.0, AI, ML, technical documentation for product development, software testing, and, course content development. She has won over 6 national-level technical hackathons and blogathons. Additionally, she has mentored students on trending technologies through various communities  and events.</p>
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
            <div class="col-lg-6">
              <div class="card card-shadow border-0 mb-4">
                <!-- Row -->
                <div class="row no-gutters card-shadow">
                  <div class="col-md-5 pro-pic" style="background:url('{% static 'img/t4.jpeg' %}') no-repeat center center / cover">
                    <div class="card-img-overlay">
                      <ul class="list-inline position-relative text-center">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/karthickthasans/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/KarthickthasanS" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                            <li class="list-inline-item"><a href=" https://x.com/KarthickthasanS?s=08" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-7 bg-white">
                    <div class="p-4">
                      <h6 class="mb-3 font-weight-medium">Abinaya S</h6>
                      <p style="text-align: justify;">Abinaya is a dedicated computer science engineering student with a solid background in programming and data analysis. She is deeply engaged in the field of AI and ML, holding certifications in Python and Django, and has applied her skills to develop practical projects. Abinaya is enthusiastic about collaborating with peers to contribute to the dynamic advancements in AI and ML, driving innovation, progress, and meaningful impact.</p>
                    </div>
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- column  -->
          </div>
        </div>
      </div>
      

       {% include 'footer.html' %}

<!-- jquery Min JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jquery Migrate JS -->
<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
<!-- jquery Ui JS -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Easing JS -->
<script src="{% static 'js/easing.js' %}"></script>
<!-- Color JS -->
<script src="{% static 'js/colors.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper1.min.js' %}"></script>
<!-- Bootstrap Datepicker JS -->
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<!-- Jquery Nav JS -->
<script src="{% static 'js/jquery.nav.js' %}"></script>
<!-- Slicknav JS -->
<script src="{% static 'js/slicknav.min.js' %}"></script>
<!-- ScrollUp JS -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<!-- Niceselect JS -->
<script src="{% static 'js/niceselect.js' %}"></script>
<!-- Tilt Jquery JS -->
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<!-- Owl Carousel JS -->
<script src="{% static 'js/owl-carousel.js' %}"></script>
<!-- counterup JS -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Steller JS -->
<script src="{% static 'js/steller.js' %}"></script>
<!-- Wow JS -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap1.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>