{% load static %}

<!-- Footer Area -->
<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="foot" style="padding: 0px 40px;">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p style="text-align: justify;">MindMate uses AI to offer personalized mental health support. Our mission is to empower everyone with therapy matching, self-help tools, and community support. Access tailored recommendations and support with MindMate, anytime, anywhere, prioritizing your mental well-being. Join us in revolutionizing mental health support for a healthier, happier world.<br><br>Our platform aims to transform how mental health is perceived & managed, making it accessible & effective for all. On this journey towards better well-being for everyone.</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2 style="padding-left: 10px;">Quick Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 custom-col">
                                <ul >
                                    <li><a href="{% url 'home' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="{% url 'about' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="{% url 'services' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                                    <li><a href="{% url 'home' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Doctors</a></li>
                                    <li><a href="{% url 'assessment' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Assessment</a></li>	
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul >
                                    <li><a href="{% url 'blog' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Blog</a></li>
                                    <li><a href="{% url 'home' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Guide</a></li>
                                    <li><a href="{% url 'home' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Login</a></li>
                                    <li><a href="{% url 'home' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Pharmacy</a></li>
                                    <li><a href="{% url 'contact' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Social</h2>
                        <p style="text-align: justify;">Stay updated on our mental health support and AI innovations! Follow us on LinkedIn, Twitter, Facebook, and GitHub for the latest news, resources, and community discussions. Join us in promoting mental wellness and AI advancements!.</p>
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="{ur}"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#"><i class="icofont-github"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                                
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="copyright-content">
                        <p>© Copyright 2024  |  All Rights Reserved by Evamind! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->